.currentTemp{
    font-size: 53px;
    padding-top: 38px;
}


#main-icon{
    padding-left: 6px;
    margin: 0px;
    padding-top: 19px;
};

#button-addon2{
border: 0;
border-radius:  7px;
display: inline;
}

.form-control{
    border-radius: 7px;
   
}



.pValue,.wValue,.hValue{
    padding: 0%;
}


.tempUnit{
        position: relative;
            font-size: 14px;
                top: 53px;
  
        }
 .active {
    text-decoration: none;
    cursor:pointer;
    color: black;
        }

.farenheit,.celcius{
     text-decoration: none;
         }

.weather-para{
    font-size: 15px;
        padding-top: 57px;
}

.place{
        font-size: 30px;
}




.description{
    

text-transform: capitalize;
}


.separator{
    padding: 4px;
}

.container{
    max-width: 50%;
    font-family:PT sans;
    margin-top: 30px;
    background-color: rgb(241, 237, 232);
   
}

.forecast{
    text-align: center;
}

